<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>File Search Engine</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f6f6f6;
        }
        .display-8 {
            font-weight: 200;
            font-size: 30px;
        }
    </style>
</head>
<body>
        <div class="container">
            <div class="p-4 m-4">
                <div class="col-lg-4 mt-4 border mb-4 mx-auto rounded pt-4">
                    <div class="text-center col">
                        <!-- <hr> -->
                        <img src="{{url_for('static',filename='logo.png')}}" width="300px" alt="logo">
                        <hr>
                    </div>
                    <form action="/load_single" method="POST">
                        <div class="form-group">
                            <label for="">Directory Input</label>
                            <input required type="text" name="file_path" id="" class=" form-control-sm form-control"
                                placeholder="D:/ or C:/example/">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-sm btn-info col-lg-12" type="submit" value="Load">
                        </div>
                    </form>
                    <hr>
                    
                        <button class="btn btn-primary col-lg-12" type="button" style="margin-bottom:10px" data-toggle="collapse"
                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Multiple Directories
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="list-group">
                                <form action="/multiple_load" method="POST" style="margin-bottom:5px">
                                    <div class="form-group">
                                        <input class="btn btn-sm btn-info col-lg-12" type="submit"
                                            value="Load All Directories">
                                    </div>
                                </form>
                                <form action="/preloaded" method="POST" style="margin-bottom:5px">
                                    <div class="form-group">
                                        <input class="btn btn-sm btn-info col-lg-12" type="submit"
                                            value="Already Loaded">
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>